$e: '__';
$m: '--';

@mixin e($class) {
	&#{$e}#{$class} {
		@content;
	}
}

@mixin m($class) {
	&#{$m}#{$class} {
		@content;
	}
}

@mixin shadow {
	box-shadow: 0 2px 3px 1px transparentize($color-black, .8);
}

@mixin loading($left: 20px, $top: 20px, $height: 16px, $color: $color-red) {
	position: relative;
	&:before,
	&:after {
		content: '';
		height: $height;
		border-radius: 4px;
		left: $left;
		right: $left;
		opacity: .15;
		animation: shimmer 2s infinite linear;
		background: $color;
		position: absolute;
		display: block;
	}

	&:before {
		top: $top;
	}

	&:after {
		top: $top + $height + 10px;
	}
}

@mixin loadingFull($placement: center) {
	@include m('loading') {
		&:before,
		&::before,
		&:after,
		&::after {
			visibility: visible !important;
			opacity: .8 !important;
		}
	}
	
	&:before,
	&::before,
	&:after,
	&::after {
		z-index: 4;
		visibility: hidden;
		opacity: 0;
		//transition: all .25s ease-in-out;
	}
	
	&:before,
	&::before {
		content: '';
		background: #f0f0f0;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
	
	
	&:after,
	&::after {
		content: '\f0e0';
		font-family: FontAwesome, sans-serif;
		display: flex;
		font-size: 30px;
		line-height: 100%;
		position: absolute;
		color: $color-red;
		animation: loading 1s infinite linear;
		@if($placement == center) {
			align-items: center;
			justify-content: center;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
		@if($placement == right-top) {
			align-items: flex-start;
			justify-content: flex-end;
			right: 20px;
			top: 20px;
		}
		
	}
}