$section-padding: 15px;
$section-width: 1070px;


$media-lt: 490px;
$media-xs: 768px;
$media-sm: 992px;
$media-lg: 1200px;
$media-content: $section-width;

$color-white: #ffffff;
$color-black: #646464;
$color-purple: rgb(150,82,107);
$color-red: rgb(209,120,104);
$color-orange: rgb(235,173,96);
$color-yellow: rgb(244,205,100);
$color-green: rgb(137,170,139);
$color-blue: rgb(85, 132, 170);