<template>
	<widget p-widget-class="account-profile" :p-title="$t('pages.Account.partials.Profile.title')">
		<ul class="account-profile__groups groups">
			<li class="groups__group" v-for="(group, index) in groups" :key="index">
				<ul class="groups__column" :class="{'groups__column--list': group.list || false}">
					<li class="groups__cell groups__cell--title">
						<h2 class="groups__title"
						    v-html="$t('pages.Account.partials.Profile.' + group.title + '.title')"></h2>
					</li>
					<li class="groups__cell" v-for="(cell, subIndex) in group.cells" :key="subIndex">
						<div class="groups__caption"
						     v-if="cell.fullTitle || cell.title"
						     v-html="cell.fullTitle || $t('pages.Account.partials.Profile.cell.caption.' + cell.title)"></div>
						<div class="groups__value">
							<component
								:p-value="cell.value"
								:p-params="cell.params || []"
								:p-record="{attributes: (cell.params ? cell.params.record : false) || account, class: 'Account'}"
								:p-key="(cell.params ? cell.params.key : null) || cell.key"
								:is="'value-' + (cell.type || 'empty')"
							></component>
						</div>
					</li>
					<li class="groups__cell groups__cell--no-dot" v-if="group.cells.length === 0">
						<value-empty></value-empty>
					</li>
				</ul>
				
			</li>
		</ul>
	</widget>
</template>

<script>
	require.ensure([], () => require('./Profile.scss'));
	
	export default {
		data() {
			return {
				account: this.pAccount
			}
		},
		computed: {
			groups: function () {
				return [
					{
						title: 'basic',
						cells: [
							{
								title: 'attribute.name',
								value: this.account.name
							},
							{
								key: 'company_id',
								type: 'relation',
								title: 'attribute.company',
								value: this.account.company,
								params: {
									key: 'company_id',
									relation: '_company',
									route: 'company',
									value: ['name'],
									record: this.account._company,
									access: [
										{roles: ['admin', 'client']},
										{roles: ['manager'], permissions: ['companies.view']}
									]
								}
							},
						]
					},
					{
						title: 'SMTP',
						cells: [
							{
								title: 'attribute.host',
								value: this.account.host
							},
							{
								title: 'attribute.encryption',
								value: this.account.encryption
							},
							{
								title: 'attribute.port',
								value: this.account.port
							},
							{
								title: 'attribute.login',
								value: this.account.login
							},
							{
								title: 'attribute.password',
								value: this.account.password
							},
						]
					},
					{
						title: 'timestamps',
						cells: [
							{
								type: 'date',
								title: 'attribute.created_at',
								value: this.account.created_at
							},
							{
								type: 'date',
								title: 'attribute.updated_at',
								value: this.account.updated_at
							}
						]
					}
				]
			}
			
		},
		watch: {
			pAccount: function (account) {
				this.account = account;
			}
		},
		props: [
			'p-account'
		]
	}
</script>