.controls {
	position: relative;
	&:before,
	&::before {
		content: '';
		top: 14px;
		bottom: 14px;
		left: 0;
		width: 1px;
		background: transparentize($color-black, .8);
		position: absolute;
		display: block;
	}
	@include e('triggers') {
		height: 100%;
		display: flex;
	}
	
	@include e('trigger') {
		padding: 0 20px;
		font-size: 1rem;
		opacity: .9;
		color: $color-black;
		cursor: pointer;
		transition: all .25s ease-in-out;
		&:hover,
		&:focus {
			opacity: 1;
			background: transparentize($color-black, .9);
		}
		@include m('active') {
			color: $color-white;
			background: $color-red !important;
		}
	}
	
	@include e('panes') {
		position: absolute;
		top: 100%;
		right: 0;//ceil($section-padding * 1.33);
	}
	
	@include e('pane') {
		background: $color-white;
		padding: 15px 20px;
		border-radius: 8px;
		visibility: hidden;
		opacity: 0;
		transition: all .25s ease-in-out;
		position: absolute;
		right: 0;
		top: 0;
		@include shadow;
		@include m('active') {
			visibility: visible;
			opacity: 1;
			transform: translateY(10px);
		}
	}
	
}