<template>
	<div class="bar">
		<div class="bar__container">
			<div class="bar__content">
				<div class="bar__title" v-if="meta.title">
					<span v-html="$t('partials.Bar.title.' + meta.title, meta['title-params']  || {})"></span>
				</div>
				<div class="bar__scroller-wrapper">
					<div class="bar__scroller baron baron__root baron__clipper _macosx" ref="clipper">
						<div class="baron__scroller" ref="scroller" @wheel.prevent.stop="sideActionsScroll">
							<div class="bar__actions">
								<button
									class="bar__action"
									v-for="(item, index) in items"
									:key="index"
									@click.prevent="action = item"
								>
									
									<i
										v-if="item.icon"
										:class="item.icon"
										class="bar__action-icon"
									></i>
									
									<span class="bar__action-title" v-html="item.title"></span>
								</button>
							</div>
						</div>
						<div class="baron__bar"></div>
					</div>
				</div>
				<div class="bar__controls controls" v-if="controls.length">
					<div class="controls__triggers">
						<button
							class="controls__trigger"
							:class="[
								'controls__trigger--' + control.key,
								{'controls__trigger--active': control.active}
							]"
							v-for="(control, key) in controls"
							:key="key"
							@click.prevent="toggleTrigger(key)"
						
						>
							<span v-html="$t('partial.Bar.control.' + control.key + '.trigger')"></span>
						</button>
					</div>
					<div class="controls__panes">
						<component
							:is="'control-' + control.key"
							v-for="(control, key) in controls"
							:key="key"
							:p-class="[
								'controls__pane',
								'controls__pane--' + control.key,
								{'controls__pane--active': control.active}
							]"
							:p-data="control.data"
						/>
					</div>
				</div>
			</div>
		</div>
		<modal
			@close="action = {}"
			:p-active="action"
			:p-sub-title="action.subTitle"
			:p-title="action.title"
			class="bar__modal"
			:class="{'modal--active': Object.keys(action).length > 0, 'modal--loading': modalLoading}"
			:p-buttons="[
				{
					label: $t('partials.Bar.actions.submitButton'),
					class: 'button--primary',
					event: 'submit'
				}
			]"
			@submit="submitAction"
			:p-close="closeModal"
		>
			<form
				slot="body"
				enctype="multipart/form-data"
				:method="((action.method) || 'post').toString().toUpperCase()"
				class="action form"
				:action="actionUrl"
				ref="modalForm"
				v-if="Object.keys(action).length > 0"
			>
				<div
					v-if="action.icon"
					class="bar__modal-icon-wrapper"
				>
					<i class="bar__modal-icon fa-fw" :class="action.icon"></i>
				</div>
				<div
					class="form__group"
					v-for="(field, index) in action.fields || []"
					:key="index"
				>
					<label :for="field.id" class="form__label" v-if="!field.meta.inline && field.meta.label">
						<span v-html="field.meta.label"></span>
					</label>
					
					<div class="form__input" v-if="field.key">
						<component @change="setFieldModel" @submitAction="submitAction" :is="'field-' + field.key"
						           :p-id="field.id"
						           :p-meta="field.meta" />
						<div class="form__hints">
							<div
								class="form__hint"
								
								v-for="(error, subIndex) in validation[field.meta.nameClear]"
								:key="subIndex"
								v-html="error"
							></div>
						</div>
					</div>
				</div>
			</form>
		</modal>
	</div>
</template>

<script>
	require.ensure([], () => require('./Bar.scss'));
	import Ajax from 'classes/Ajax';
	
	import TableFilters from './partials/TableFilters.vue';
	import TableControls from './partials/TableControls.vue';
	import baron from 'baron';
	
	export default {
		components: {
			'control-table-filters': TableFilters,
			'control-table-controls': TableControls,
		},
		computed: {
			availableControls: function () {
				return {
					'table-filters': {},
					'table-controls': {}
				}
			},
			actionUrl: function () {
				return this.$router.resolve({
					name: 'action',
					query: {
						name: this.action.action
					}
					
				}).href
			},
		},
		
		methods: {
			setFieldModel: function (key, value) {
				this.model[key] = value;
			},
			submitAction: function () {
				this.modalLoading = true;
				
				let data = Object.assign({}, {arguments: this.model}, {record: this.action.record});
				
				(new Ajax({
					url: this.actionUrl,
					type: 'post',
					data: data,
					dataType: 'json',
					xhr: 'action-modal'
				}))
					.then(json => {
						this.validation = {};
						if (json.status === 200) {
							let commands = [];
							
							if (json.data.commands) {
								commands = json.data.commands;
							} else {
								commands.push('refresh');
							}
							
							
							if (json.data.message) {
								commands.push({
									type: 'alert',
									meta: {
										message: json.data.message
									}
								});
							}
							
							this.executeCommands(commands);
							
							this.closeModal = !this.closeModal;
							this.validation = {};
						} else {
							if (json.data.message && !json.data.errors) {
								this.executeCommands({
									type: 'alert',
									meta: {
										message: json.data.message
									}
								})
							}
							if (json.data.errors) {
								this.validation = json.data.errors;
							}
						}
					})
					.catch(res => {
					
					})
			},
			sideActionsScroll: function (e) {
				this.$refs.scroller.scrollLeft += parseInt(e.deltaY);
			},
			watchPanes: function (e) {
				let trigger = $(e.target);
				if (!(trigger.closest('.controls') && trigger.closest('.controls').length)) {
					if (this.controls.length) {
						this.controls.map(function (item, i) {
							item.active = false;
							return item;
						})
					}
					
				}
			},
			toggleTrigger: function (key) {
				this.controls.map(function (item, i) {
					if (i !== key) {
						item.active = false;
					}
					return item;
				});
				this.controls[key].active = !this.controls[key].active;
			},
			updateBar: function () {
				this.title = null;
				this.items = [];
				new Ajax({
					
					url: this.$router.resolve({
						name: 'get-bar'
					}).href,
					dataType: 'json',
					data: {
						route: this.$route.name,
						params: this.$route.params
					}
				})
					.then((json) => {
						if (json.status === 200) {
							this.meta = json.data.meta || {};
							this.items = json.data.items || [];
							if (json.data.meta.controls) {
								this.controls = json.data.meta.controls.filter((item) => {
									return Object.keys(this.availableControls).indexOf(item) > -1;
								}).map((item) => {
									let control = this.availableControls[item];
									control.active = false;
									control.key = item;
									return control;
								})
							} else {
								this.controls = [];
							}
						} else {
							this.controls = [];
						}
					})
					.catch((res) => {
					})
			}
		},
		mounted() {
			if (this.$route.name) {
				this.updateBar();
			}
			document.querySelector('body').addEventListener('click', this.watchPanes);
			baron({
				root: '.bar__scroller',
				scroller: '.bar__scroller .baron__scroller',
				bar: '.bar__scroller .baron__bar',
				scrollingCls: '_scrolling',
				draggingCls: '_dragging',
				direction: 'h',
				impact: 'scroller'
			});
			this.$store.state.bar = this;
		},
		destroyed() {
			document.querySelector('body').removeEventListener('click', this.watchPanes);
			this.$store.state.bar = null;
		},
		watch: {
			'$route': function (from, to) {
				this.updateBar();
			},
			'action': function (val) {
				this.validation = {};
				this.model = {};
				
				
				if (val) {
					this.$nextTick(function () {
						setTimeout(() => {
							if (val.fields) {
								val.fields.map((item) => {
									if (typeof item.meta.nameClear !== 'undefined') {
										this.model[item.meta.nameClear] = item.meta.value;
									}
								});
							}
							if (this.$refs.modalForm) {
								Object.values(this.$refs.modalForm.querySelectorAll('input,select,textarea')).map((el) => {
									if (el.value.length === 0) {
										el.focus();
										return false;
									}
									
								})
							}
						}, 250);
					})
				}
			},
			'$store.state.table': function (value) {
				if (!this.controls.filter) return;
				this.controls.filter((control) => {
					return ['table-filters', 'table-controls'].indexOf(control.key);
				}).map((item, i) => {
					return item;
				});
				
			}
		},
		data() {
			return {
				controls: {},
				meta: {},
				items: [],
				action: {},
				modalLoading: false,
				closeModal: false,
				validation: {},
				model: {}
			}
		},
		props: [
			'p-table'
		]
	}
</script>