@import "~styles/utilities/index";

.bar {
	padding: 0 $section-padding;
	flex-shrink: 0;
	flex-grow: 0;
	margin-top: 20px;
	position: relative;
	z-index: 6;
	
	@include m('disabled') {
		display: none;
	}
	
	@include e('container') {
		//max-width: $section-width;
		//margin: 0 auto;
		position: relative;
	}
	
	@include e('content') {
		display: flex;
		height: 54px;
		border-radius: 8px;
		@include shadow;
		background: $color-white;
	}
	
	@include e('title') {
		white-space: nowrap;
		font-size: 1.25rem;
		font-weight: 300;
		color: $color-red;
		padding: 0 20px;
		position: relative;
		display: flex;
		align-items: center;
		&:after,
		&::after {
			content: '';
			top: 14px;
			bottom: 14px;
			right: 0;
			width: 1px;
			background: transparentize($color-black, .8);
			position: absolute;
			display: block;
		}
	}
	
	@include e('scroller-wrapper') {
		flex-grow: 1;
		padding: 0 20px;
		display: flex;
		overflow: hidden;
	}
	
	@include e('scroller') {
		flex-grow: 1;
		
		&._scrollbar {
			&:hover {
				.baron__bar {
					opacity: .5 !important;
					display: block !important;
				}
			}
		}
		
		&._scrolling {
			.baron {
				@include e('bar') {
					opacity: .5 !important;
				}
			}
		}
		.baron {
			@include e('bar') {
				position: absolute;
				z-index: 1;
				height: 4px;
				bottom: 0;
				border-radius: 3px;
				background: #333;
				-webkit-transition: opacity .1s linear .4s;
				transition: opacity .1s linear .4s;
				pointer-events: auto;
			}
		}
	}
	
	@include e('actions') {
		flex-grow: 1;
		height: 100%;
		display: flex;
	}
	
	@include e('action') {
		display: flex;
		align-items: center;
		padding: 0 10px;
		cursor: pointer;
		position: relative;
		transition: all .1s ease-in-out;
		line-height: 1rem;
		
		&:hover,
		&:focus {
			background: transparentize($color-black, .9);
		}
		
		span {
			font-size: 1rem;
			color: $color-black;
			white-space: nowrap;
		}
	}
	
	@include e('action-icon') {
		font-size: inherit;
		line-height: inherit;
		margin-right: 8px;
		color: lighten($color-black, 30%);
	}
	
	@include e('action-title') {
		font-size: inherit;
		line-height: inherit;
	}
	
	@include e('modal-icon-wrapper') {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		border-top-right-radius: 8px;
		overflow: hidden;
	}
	
	@include e('modal-icon') {
		font-size: 320px;
		color: lighten($color-black, 55%);

		position: relative;
		top: -70px;
		right: -120px;
	}
	
	@include e('controls') {
		margin-left: auto;
		height: 100%;
		padding-right: 20px;
	}
	
	@import "_controls";
}