<template>
	<widget p-widget-class="source-message-profile" :p-title="$t('pages.SourceMessage.partials.Profile.title')">
		<ul class="source-message-profile__groups groups">
			<li class="groups__group" v-for="(group, index) in groups" :key="index">
				<ul class="groups__column" :class="{'groups__column--list': group.list || false}">
					<li class="groups__cell groups__cell--title">
						<h2 class="groups__title"
						    v-html="$t('pages.SourceMessage.partials.Profile.' + group.title + '.title')"></h2>
					</li>
					<li class="groups__cell" v-for="(cell, subIndex) in group.cells" :key="subIndex">
						<div class="groups__caption"
						     v-if="cell.fullTitle || cell.title"
						     v-html="cell.fullTitle || $t('pages.SourceMessage.partials.Profile.cell.caption.' + cell.title)"></div>
						<div class="groups__value">
							<component
								:p-value="cell.value"
								:p-params="cell.params || []"
								:p-record="{attributes: (cell.params ? cell.params.record : false) || sourceMessage, class: 'SourceMessage'}"
								:p-key="cell.key"
								:is="'value-' + (cell.type || 'empty')"
							></component>
						</div>
					</li>
					<li class="groups__cell groups__cell--no-dot" v-if="group.cells.length === 0">
						<value-empty></value-empty>
					</li>
				</ul>
				
			</li>
		</ul>
	</widget>
</template>

<script>
	require.ensure([], () => require('./Profile.scss'));
	
	export default {
		data() {
			return {
				sourceMessage: this.pSourceMessage
			}
		},
		computed: {
			groups: function () {
				return [
					{
						title: 'basic',
						cells: [
							{
								key: 'empty',
								title: 'attribute.category',
								value: this.sourceMessage.category
							},
							{
								key: 'empty',
								title: 'attribute.message',
								value: this.sourceMessage.message
							},
						]
					},
				]
			}
			
		},
		watch: {
			pMessage: function (sourceMessage) {
				this.sourceMessage = sourceMessage;
			}
		},
		props: [
			'p-source-message'
		]
	}
</script>