@import "~styles/utilities/index";

.sidebar {
	padding: 20px 0;
	border-radius: 8px;
	top: 20px;
	
	background: $color-white;
	@include shadow;
	
	position: sticky !important;
	z-index: 5;

	min-height: 120px;

	@include m('loading') {
		@include loading;
	}
	
	@include m('disabled') {
		display: none;
	}

	@include e('container') {
	
	}
	
	@include e('link') {
		display: block;
		padding: 10px 20px;
		font-size: 1rem;
		line-height: 1rem;
		color: $color-black;
		transition: all .25s ease-in-out;
		&:hover,
		&:focus {
			background: transparentize($color-black, .95);
		}
		
		@include m('active') {
			background: transparentize($color-red, .5) !important;
			color: $color-white;
			cursor: default;
		}
	}
}