<template>
	<div class="sidebar" :class="[pClass, {'sidebar--loading': navigation.length === 0, 'sidebar--disabled': !available}]">
		<div class="sidebar__container">
			<router-link
				class="sidebar__link"
				activeClass="sidebar__link--active"
				v-for="(item, index) in navigation"
				:key="index"
				:to="{name: item.name, params: item.params || {}}"
			>
				<span v-html="$t('partials.Sidebar.navigation.' + item.title)"></span>
			</router-link>
		</div>
	</div>
</template>

<script>
	require.ensure([], () => require('./Sidebar.scss'));
	
	import Checker from 'classes/Checker';
	
	export default {
		data() {
			return {
				navigation: []
			}
		},
		computed: {
			available: function() {
				return !!this.$store.state.user;
			}
		},
		watch: {
			'$store.state.user': function() {
				this.navigation = [
					{
						title: 'companies',
						name: 'table',
						params: {key: 'companies'},
						access: [
							{roles: ['admin', 'client']},
							{roles: ['manager'], permissions: ['companies.index']}
						]
					},
					{
						title: 'accounts',
						name: 'table',
						params: {key: 'accounts'},
						access: [
							{roles: ['admin', 'client']},
							{roles: ['manager'], permissions: ['accounts.index']}
						]
					},
					{
						title: 'domains',
						name: 'table',
						params: {key: 'domains'},
						access: [
							{roles: ['admin', 'client']},
							{roles: ['manager'], permissions: ['domains.index']}
						]
					},
					{
						title: 'source-messages',
						name: 'table',
						params: {key: 'source-messages'},
						access: [
							{roles: ['admin']},
							{permissions: ['source-messages.index']}
						]
					},
					
					{
						title: 'messages',
						name: 'table',
						params: {key: 'messages'},
						access: [
							{roles: ['admin']},
							{permissions: ['messages.index']}
						]
					},
					{
						title: 'languages',
						name: 'table',
						params: {key: 'languages'},
						access: [
							{roles: ['admin']},
							{permissions: ['languages.index']}
						]
					},
					{
						title: 'users',
						name: 'table',
						params: {key: 'users'},
						access: [
							{roles: ['admin']},
						]
					}
				].filter(function (item) {
					return Checker.byConfig(item.access);
				});
			}
		},
		props: [
			'p-class'
		]
	}
</script>