<template>
	<div class="modal" :class="pClass" @click="down" ref="modal">
		<div class="modal__container">
			<div class="modal__content">
				<div class="modal__header" v-if="pActive">
					<slot name="header">
						<div class="modal__title" v-if="pTitle" v-html="pTitle"></div>
						<div class="modal__subTitle" v-if="pSubTitle" v-html="pSubTitle"></div>
					</slot>
				</div>
				<div class="modal__body" v-if="pActive">
					<slot name="body"></slot>
				</div>
				<div class="modal__footer" v-if="pActive">
					<slot name="footer">
						<div class="modal__buttons">
							<button
								v-for="(button, index) in pButtons"
								:key="index"
								class="button modal__button"
								:class="button.class"
								@click.prevent="$emit(button.event)"
							>
								<span v-html="button.label"></span>
							</button>
							<button
								class="button button--secondary modal__button modal__closer"
								v-if="!pDisableCloser"
								@click.prevent="close"
							>
								<span v-html="$t('partials.Modal.footer.closer')"></span>
							</button>
						</div>
					</slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	require.ensure([], () => require('./Modal.scss'));
	
	export default {
		methods: {
			down: function (event) {
				if (!$(event.target).closest('.modal__content').length) {
					this.close();
				}
			},
			close: function () {
				this.$refs.modal.classList.remove('modal--active');
				setTimeout(() => {
					this.$emit('close');
				}, 250);
			}
		},
		watch: {
			pClose: function(value) {
				this.close();
			}
			
		},
		props: [
			'p-title', 'p-class', 'p-active', 'p-sub-title', 'p-disable-closer', 'p-buttons', 'p-close'
		]
	}
</script>