@import "~styles/utilities/index";

.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	
	transition: all .25s ease-in-out;
	background: transparentize($color-black, .6);
	
	padding: 30px 30px 0;
	justify-content: center;
	display: flex;
	
	@include m('active') {
		opacity: 1;
		visibility: visible;
		
		.modal {
			@include e('container') {
				transform: translateY(0);
			}
			@include e('content') {
				transform: scale(1);
			}
		}
	}
	
	@include e('container') {
		max-width: #{$section-width / 1.5};
		flex-grow: 1;
		transform: translateY(-40px);
		transition: all .25s ease-in-out;
		//perspective: 400px;
		
	}
	
	@include e('content') {
		background: $color-white;
		border-radius: 8px;
		@include shadow;
		padding: 20px;
		position: relative;
		//transform-origin: top;
		//transform: scale(1.3);
		//transition: all .25s ease-in-out;
	}
	
	@include e('header') {
		padding-bottom: 30px;
	}
	
	@include e('title') {
		font-size: 2.375rem;
		font-weight: 300;
		color: $color-black;
	}
	
	@include e('subTitle') {
		font-size: 1.75rem;
		font-weight: 300;
		color: lighten($color-black, 20%);
	}
	
	@include e('footer') {
		padding-top: 30px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	
	@include e('closer') {
	
	}
	
	@include e('buttons') {
		display: flex;
	}
	
	@include e('button') {
		display: block;
		&:not(:first-of-type) {
			margin-left: 10px;
			
		}
	}
}