@import "~styles/utilities/index";

.list {
	@include e('content') {
		flex-grow: 1;
	}
	
	.table {

		$t: '.table';
		@include m('sticky') {
			#{$t} {
				@include e('th') {
					top: 20px;
					z-index: 1;
				}
			}
		}
	}
	
	@include e('pagination') {
		margin-bottom: ceil($section-padding * 1.33);
		display: flex;
		align-items: center;
		
	}
	
	@include e('page') {
		line-height: 100%;
		height: 34px;
		display: flex;
		align-items: center;
		padding: 0 14px;
		background: $color-white;
		color: $color-black;
		font-size: 1rem;
		cursor: pointer;
		@include shadow;
		&:first-of-type {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		&:last-of-type {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
		&:not(:hover):not(:focus) {
			opacity: .7;
		}
		@include m('disabled') {
			cursor: default;
			opacity: .5 !important;
		}
		@include m('previous') {
			width: 34px;
			padding: 0;
			margin-right: auto;
			svg {
				transform: rotate(180deg);
			}
		}
		@include m('next') {
			width: 34px;
			padding: 0;
			margin-left: auto;
		}
		@include m('active') {
			background: $color-red;
			color: $color-white;
		}
		svg {
			display: block;
			height: 100%;
			width: 100%;
			padding: 8px 0;
			fill: $color-black;
		}
	}
}