<template>
	<div class="list">
		<div class="list__content" :class="{'list__content--loading': this.loading}">
			<pagination @setPage="setPage" :p-meta="meta" p-class="list__pagination"></pagination>
			<table
				class="table list__table table--filled table--bordered table--hover table--striped table--sticky"
			>
				<thead class="table__head">
				<tr class="table__row">
					<th
						class="table__th"
						v-for="(column, index) in columns"
						:key="index"
					>
						<button class="table__caption">
							<span v-html="column.title || $t('model.' + meta.model + '.' + column.key)"></span>
						</button>
					</th>
				</tr>
				</thead>
				<tbody class="table__body">
				<tr
					v-for="(record, index) in records"
					:key="index"
					class="table__record"
				>
					<td
						v-for="(column, subIndex) in columns"
						:key="subIndex"
						class="table__td"
					>
						<component
							:p-value="record[column.key]"
							:p-params="column.params || []"
							:p-record="{attributes: record, class: meta.model}"
							:p-key="column.key"
							:is="'value-' + field(column.type || 'text')"
						></component>
					</td>
				
				</tr>
				</tbody>
				<tfoot>
				<tr class="table__footer">
					<td class="table__td table__td--summary" :colspan="columns.length" v-if="meta.pages > 1">
						<span v-if="!records.length">
							{{ $t('page.List.noRecords') }}
						</span>
						<span v-if="meta.total > 0">
							{{ $t('page.List.summary', {
							count: meta.count,
							total: meta.total,
							page: meta.page,
							pages: meta.pages
							}) }}
						
						</span>
					</td>
				</tr>
				</tfoot>
			</table>
		</div>
	</div>
</template>

<script>
	require.ensure([], () => require('./List.scss'));
	
	import Ajax from 'classes/Ajax';
	
	import Pagination from './partials/Pagination.vue';
	
	export default {
		watch: {
			'$route': function (to, from) {
				if (from.params.key !== to.params.key) {
					this.model = {
						page: to.query.page || 1,
						limit: to.query.limit || 10,
						filters: []
					};
				}
				['page', 'limit'].map((item) => {
					if(typeof to.query[item] !== 'undefined') {
						this.model[item] = to.query[item];
					}
				});
				this.fetchData();
			},
			'loading': function (val) {
				this.$emit('loading', val);
			},
		},
		components: {
			'pagination': Pagination
		},
		mounted() {
			this.fetchData();
			this.$store.state.table = this;
		},
		destroyed() {
			this.$store.state.table = null;
		},
		methods: {
			setPage: function (page) {
				this.model.page = parseInt(page);
			},
			field: function (type) {
				if (['text', 'empty'].indexOf(type) > -1) {
					return 'empty';
				}
				if (['date'].indexOf(type) > -1) {
					return 'date';
				}
				if (['relation'].indexOf(type) > -1) {
					return 'relation';
				}
				if (['boolean'].indexOf(type) > -1) {
					return 'boolean';
				}
				if (['link'].indexOf(type) > -1) {
					return 'link';
				}
				return 'empty';
			},
			fetchData: function () {
				this.loading = true;
				let query = {
					page: this.model.page,
					limit: this.model.limit
				};
				new Ajax({
					url: this.$router.resolve({
						name: 'table',
						params: {
							key: this.$route.params.key
						},
						query: query
					}).href,
					dataType: 'json',
					xhr: 'table'
				})
					.then(json => {
						this.loading = false;
						if (json.status === 200) {
							this.columns = json.data.columns;
							this.records = json.data.records;
							this.meta = json.data.meta;
							this.$emit('changeTitle', this.$t('page.List.title.' + this.$route.params.key));
						} else {
							this.$emit('exception', json.status || '4**', json.data.message || this.$t('page.List.error.fetchData'));
						}
					})
					.catch(res => {
						this.loading = false;
					})
			}
		},
		data() {
			return {
				columns: [],
				records: [],
				meta: {},
				loading: false,
				model: {
					page: this.$route.query.page || 1,
					limit: this.$route.query.limit || 10,
					filters: []
				}
			}
		}
	}
</script>