<template>
	<widget p-widget-class="message-profile" :p-title="$t('pages.Message.partials.Profile.title')">
		<ul class="message-profile__groups groups">
			<li class="groups__group" v-for="(group, index) in groups" :key="index">
				<ul class="groups__column" :class="{'groups__column--list': group.list || false}">
					<li class="groups__cell groups__cell--title">
						<h2 class="groups__title"
						    v-html="$t('pages.Message.partials.Profile.' + group.title + '.title')"></h2>
					</li>
					<li class="groups__cell" v-for="(cell, subIndex) in group.cells" :key="subIndex">
						<div class="groups__caption"
						     v-if="cell.fullTitle || cell.title"
						     v-html="cell.fullTitle || $t('pages.Message.partials.Profile.cell.caption.' + cell.title)"></div>
						<div class="groups__value">
							<component
								:p-value="cell.value"
								:p-params="cell.params || []"
								:p-record="{attributes: (cell.params ? cell.params.record : false) || message, class: 'Message'}"
								:p-key="cell.key"
								:is="'value-' + (cell.type || 'empty')"
							></component>
						</div>
					</li>
					<li class="groups__cell groups__cell--no-dot" v-if="group.cells.length === 0">
						<value-empty></value-empty>
					</li>
				</ul>
			</li>
		</ul>
	</widget>
</template>

<script>
	require.ensure([], () => require('./Profile.scss'));
	
	export default {
		data() {
			return {
				message: this.pMessage
			}
		},
		computed: {
			groups: function () {
				return [
					{
						title: 'basic',
						cells: [
							{
								key: 'source_id',
								type: 'relation',
								title: 'attribute.source',
								value: this.message.source_id,
								params: {
									relation: '_source',
									route: 'source-message',
									value: ['message'],
									record: this.message._source
								}
							},
							{
								key: 'language_id',
								type: 'relation',
								title: 'attribute.language',
								value: this.message.language_id,
								params: {
									relation: '_language',
									route: 'language',
									value: ['name'],
									record: this.message._language
								}
							},
							{
								key: 'translation',
								type: 'empty',
								title: 'attribute.translation',
								value: this.message.translation
							},
						]
					},
				]
			}
		},
		watch: {
			pMessage: function (message) {
				this.message = message;
			}
		},
		props: [
			'p-message'
		]
	}
</script>