<template>
	<div :class="pClass" v-if="meta.pages > 1">
		<router-link
			:to="{query: {page: 1, limit: table.meta.limit || false}}"
			:class="{
						'list__page--active': meta.page === 1,
						'list__page--disabled': meta.page === 1
					}"
			:disabled="meta.page === 1"
			class="list__page list__page--first"
		>
			<span v-html="$t('page.List.pagination.first')"></span>
		</router-link>
		<router-link
			:to="{query: {page: meta.page > 1 ? meta.page - 1 : 1, limit: table.meta.limit || false}}"
			:class="{
						'list__page--disabled': meta.page === 1
					}"
			:disabled="meta.page === 1"
			class="list__page list__page--previous"
		>
			<svg-arrow></svg-arrow>
		</router-link>
		<router-link
			v-if="i >= 1 && i <= meta.pages"
			v-for="i in range(meta.page - 3, meta.page + 4)"
			:to="meta.page === i ? '#' : {query: {page: i, limit: table.meta.limit || false}}"
			:class="{
				'list__page--active': meta.page === i
			}"
			:key="i"
			:disabled="meta.page === i"
			class="list__page"
		>
			<span v-html="i"></span>
		</router-link>
		<router-link
			:to="{query: {page: meta.page < meta.pages ? meta.page + 1 : meta.pages, limit: table.meta.limit || false}}"
			:disabled="meta.page === meta.pages"
			class="list__page list__page--next"
			:class="{
						'list__page--disabled': meta.page === meta.pages
					}"
		>
			<svg-arrow></svg-arrow>
		</router-link>
		<router-link
			:to="{query: {page: meta.pages, limit: table.meta.limit || false}}"
			:class="{
						'list__page--active': meta.page === meta.pages,
						'list__page--disabled': meta.page === meta.pages
					}"
			:disabled="meta.page === meta.pages"
			class="list__page list__page--last"
		>
			<span v-html="$t('page.List.pagination.last')"></span>
		</router-link>
	</div>
</template>

<script>
	import range from 'lodash/range';
	
	export default {
		data() {
			return {
				meta: this.pMeta
			}
		},
		computed: {
			table: function() {
				return this.$store.state.table;
			}
		},
		methods: {
			range: range
		},
		watch: {
			pMeta: function (value) {
				this.meta = value;
			}
		},
		props: [
			'p-meta', 'p-class'
		]
	}
</script>