<template>
	<widget p-widget-class="company-profile" :p-title="$t('pages.Company.partials.Profile.title')">
		<ul class="company-profile__groups groups">
			<li class="groups__group" v-for="(group, index) in groups" :key="index">
				<ul class="groups__column" :class="{'groups__column--list': group.list || false}">
					<li class="groups__cell groups__cell--title">
						<h2 class="groups__title"
						    v-html="$t('pages.Company.partials.Profile.' + group.title + '.title')"></h2>
					</li>
					<li class="groups__cell" v-for="(cell, subIndex) in group.cells" :key="subIndex">
						<div class="groups__caption"
						     v-if="cell.fullTitle || cell.title"
						     v-html="cell.fullTitle || $t('pages.Company.partials.Profile.cell.caption.' + cell.title)"></div>
						<div class="groups__value">
							<component
								:p-value="cell.value"
								:p-params="cell.params || []"
								:p-record="{attributes: (cell.params ? cell.params.record : false) || company, class: 'Company'}"
								:p-key="(cell.params ? cell.params.key : null) || cell.key"
								:is="'value-' + (cell.type || 'empty')"
							></component>
						</div>
					</li>
					<li class="groups__cell groups__cell--no-dot" v-if="group.cells.length === 0">
						<value-empty></value-empty>
					</li>
				</ul>
				
			</li>
		</ul>
	</widget>
</template>

<script>
	require.ensure([], () => require('./Profile.scss'));
	
	export default {
		data() {
			return {
				company: this.pCompany
			}
		},
		computed: {
			groups: function () {
				return [
					{
						title: 'basic',
						cells: [
							{
								key: 'empty',
								title: 'attribute.name',
								value: this.company.name
							},
							
							{
								key: 'user',
								type: 'relation',
								title: 'attribute.user',
								value: this.company.user,
								params: {
									key: 'user_id',
									relation: '_user',
									route: 'user',
									value: ['email'],
									record: this.company._user
								}
							},
						]
					},
					{
						title: 'timestamps',
						cells: [
							{
								type: 'date',
								title: 'attribute.created_at',
								value: this.company.created_at
							},
							{
								type: 'date',
								title: 'attribute.updated_at',
								value: this.company.updated_at
							}
						]
					}
				]
			}
			
		},
		watch: {
			pCompany: function (company) {
				this.company = company;
			}
		},
		props: [
			'p-company'
		]
	}
</script>