<template>
	<footer class="footer">
		<div class="footer__container">
			<div class="footer__copyright">
				&copy; {{year}} {{ $t('partials.Footer.brand') }} {{ $t('partials.Footer.description') }}
			</div>
		</div>
	</footer>
</template>

<script>
	require.ensure([], () => require('./Footer.scss'));
	
	import Moment from 'moment';
	
	export default {
		data() {
			return {
			
			}
		},
		computed: {
			year: function() {
				return Moment().format('Y');
			}
		}
	}
</script>