@import "~styles/utilities/index";

.footer {
	padding: 10px $section-padding 10px;
	flex-shrink: 0;
	box-shadow: 0 0 0 1px transparentize($color-black, .8);
	
	position: relative;
	z-index: 1;
	
	@include e('container') {
		max-width: $section-width;
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}
	@include e('copyright') {
		color: $color-black;
		text-transform: uppercase;
		font-size: .75rem;
		opacity: .6;
	}
}