@import "~styles/utilities/index";

.exception {
	@include e('title') {
		font-size: 2.5rem;
		font-weight: 300;
		color: $color-red;
		line-height: 2.5rem;
	}
	@include e('description') {
		margin-top: 10px;
		font-weight: 400;
		color: $color-black;
		font-size: 1.75rem;
		line-height: 1.75rem;
	}
}
