<template>
	<div class="exception">
		<div class="exception__content">
			<h1 class="exception__title" v-html="$t('partials.Exception.title', { code: pCode })"></h1>
			<h3 class="exception__description" v-html="pMessage"></h3>
		</div>
	</div>
</template>

<script>
	require.ensure([], () => require('./Exception.scss'));
	
	export default {
		mounted() {
			this.$emit('changeTitle', this.$t('partials.Exception.title', {code: this.pCode}));
		},
		props: [
			'p-message', 'p-code'
		]
	}
</script>