<template>
	<widget p-widget-class="user-profile" :p-title="$t('pages.User.partials.Profile.title')">
		<ul class="user-profile__groups groups">
			<li class="groups__group" v-for="(group, index) in groups" :key="index">
				<ul class="groups__column" :class="{'groups__column--list': group.list || false}">
					<li class="groups__cell groups__cell--title">
						<h2 class="groups__title"
						    v-html="$t('pages.User.partials.Profile.' + group.title + '.title')"></h2>
					</li>
					<li class="groups__cell" v-for="(cell, subIndex) in group.cells" :key="subIndex">
						<div class="groups__caption"
						     v-if="cell.fullTitle || cell.title"
						     v-html="cell.fullTitle || $t('pages.User.partials.Profile.cell.caption.' + cell.title)"></div>
						<div class="groups__value">
							<component
								:p-value="cell.value"
								:p-params="cell.params || []"
								:p-record="{attributes: user, class: 'User'}"
								:p-key="cell.title"
								:is="'value-' + (cell.type || 'empty')"
							></component>
						</div>
					</li>
					<li class="groups__cell groups__cell--no-dot" v-if="group.cells.length === 0">
						<value-empty></value-empty>
					</li>
				</ul>
			</li>
		</ul>
	</widget>
</template>

<script>
	require.ensure([], () => require('./Profile.scss'));
	
	export default {
		data() {
			return {
				user: this.pUser
			}
		},
		computed: {
			groups: function () {
				return [
					{
						title: 'basic',
						cells: [
							{
								type: 'empty',
								title: 'attribute.email',
								value: this.user.email
							},
							{
								type: 'date',
								title: 'attribute.created_at',
								value: this.user.created_at
							}
						]
					},
					{
						title: 'roles',
						list: true,
						cells: this.user.roles.map((role) => {
							return {
								type: 'empty',
								value: this.$t('access.Role.' + role)
							}
						})
					},
					{
						title: 'permissions',
						list: true,
						cells: this.user.permissions.map((permission) => {
							return {
								type: 'empty',
								value: this.$t('access.Permission.' + permission)
							}
						})
					}
				]
			}
		},
		watch: {
			pUser: function (user) {
				this.user = user;
			}
		},
		props: [
			'p-user'
		]
	}
</script>