<template>
	<widget p-widget-class="language-profile" :p-title="$t('pages.Language.partials.Profile.title')">
		<ul class="language-profile__groups groups">
			<li class="groups__group" v-for="(group, index) in groups" :key="index">
				<ul class="groups__column" :class="{'groups__column--list': group.list || false}">
					<li class="groups__cell groups__cell--title">
						<h2 class="groups__title"
						    v-html="$t('pages.Language.partials.Profile.' + group.title + '.title')"></h2>
					</li>
					<li class="groups__cell" v-for="(cell, subIndex) in group.cells" :key="subIndex">
						<div class="groups__caption"
						     v-if="cell.fullTitle || cell.title"
						     v-html="cell.fullTitle || $t('pages.Language.partials.Profile.cell.caption.' + cell.title)"></div>
						<div class="groups__value">
							<component
								:p-value="cell.value"
								:p-params="cell.params || []"
								:p-record="{attributes: language, class: 'Language'}"
								:p-key="cell.title"
								:is="'value-' + (cell.type || 'empty')"
							></component>
						</div>
					</li>
					<li class="groups__cell groups__cell--no-dot" v-if="group.cells.length === 0">
						<value-empty></value-empty>
					</li>
				</ul>
			</li>
		</ul>
	</widget>
</template>

<script>
	require.ensure([], () => require('./Profile.scss'));
	
	export default {
		data() {
			return {
				language: this.pLanguage
			}
		},
		computed: {
			groups: function () {
				return [
					{
						title: 'basic',
						cells: [
							{
								type: 'empty',
								title: 'attribute.locale',
								value: this.language.locale
							},
							{
								type: 'empty',
								title: 'attribute.name',
								value: this.language.name
							},
							{
								type: 'relation',
								title: 'attribute.country',
								value: this.language.country,
								params: {
									relation: '_country',
									value: ['name']
								}
							},
							{
								type: 'boolean',
								title: 'attribute.status',
								value: this.language.status,
								params: {
									true: 'enabled',
									false: 'disabled'
								}
							}
						]
					},
				]
			}
		},
		watch: {
			pLanguage: function (language) {
				this.language = language;
			}
		},
		props: [
			'p-language'
		]
	}
</script>