@import "~styles/utilities/index";

.index {
	@include e('container') {
		//max-width: $section-width;
		//margin: 0 auto;
		display: flex;
		align-items: flex-start;
	}
	
	@include e('title') {
		font-size: 3rem;
		font-weight: 300;
	}
}