<template>
	<div class="index">
		<h1 class="index__title">Here will be dashboard soon</h1>
	</div>
</template>

<script>
	require.ensure([], () => require('./Index.scss'));
	
	export default {
		mounted() {
			this.$emit('changeTitle', this.$t('page.index.pageTitle'));
		},
		data() {
			return {}
		}
	}
</script>