.button {
	font-size: 1rem;
	padding: 10px 20px;
	line-height: 100%;
	border-radius: 100px;
	cursor: pointer;
	transition: all .25s ease-in-out;
	
	&:disabled {
		cursor: not-allowed;
	}
	
	@include m('primary') {
		background: transparentize($color-blue, .3);
		color: $color-white;
		
		&:hover,
		&:focus {
			background: transparentize($color-blue, .4);
		}
	}
	
	@include m('secondary') {
		background: lighten($color-black, 50%);
		color: $color-black;
		box-shadow: 0 0 0 1px lighten($color-black, 40%);
		
		&:hover,
		&:focus {
			background: lighten($color-black, 55%);
		}
	}
}