.form {
	@include e('group') {
		&:not(:first-of-type) {
			margin-top: 20px;
		}
	}
	
	@include e('label') {
		font-weight: 300;
		color: $color-black;
		//text-align: center;
		opacity: 1;
		cursor: pointer;
		user-select: none;
		
		transition: all .25s ease-in-out;
		
		display: flex;
		align-items: center;
		
		@include m('inactive') {
			text-decoration: line-through;
			opacity: .5;
		}
		
		@include m('colorize') {
			&.form {
				@include e('label') {
					text-decoration: none;
					color: $color-green;
					@include m('inactive') {
						color: $color-red;
					}
				}
			}
		}
		
		i.fa {
			margin-right: 5px;
			line-height: 100%;
			display: block;
			
			+ span {
				line-height: 100%;
				display: block;
				margin-top: 2px;
			}
		}
	}
	
	@include e('input') {
		margin-top: 15px;
	}
	
	@include e('control') {
		&[type="checkbox"] {
			display: none;
		}
		
		background: $color-white;
		transition: all .25s ease-in-out;
		display: block;
		width: 100%;
		font-size: 1rem;
		padding: 10px 16px;
		line-height: 100%;
		box-shadow: 0 0 0 2px rgba(224, 224, 224, .7);
		border-radius: 8px;
		
		&:hover,
		&:focus {
			box-shadow: 0 0 0 2px rgb(177, 177, 177);
		}
		
		&::placeholder {
			opacity: .6;
		}
	}
	
	@include e('hints') {
		margin-top: 10px;
		font-size: .75rem;
		color: $color-red;
	}
}