.groups {
	display: flex;
	list-style-type: none;
	margin: 0 -10px;
	flex-wrap: wrap;
	margin-top: -20px;
	
	@include e('group') {
		flex-grow: 1;
		padding: 0 10px;
		margin-top: 20px;
	}
	
	@include e('column') {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		@include m('list') {
			.groups {
				@include e('cell') {
					padding-left: 10px;
					position: relative;
					&:before,
					&::before {
						content: '\f111';
						position: absolute;
						left: 0;
						bottom: 0;
						top: 0;
						width: 10px;
						display: flex;
						align-items: center;
						font-family: 'FontAwesome', sans-serif;
						font-size: #{1rem / 3};
					}
					@include m('title') {
						padding-left: 0;
						&:before,
						&::before {
							display: none;
						}
					}
					@include m('no-dot') {
						padding-left: 0;
						&:before,
						&::before {
							display: none;
						}
					}
				}
				@include e('title') {
				}
			}
		}
	}
	
	@include e('cell') {
		font-size: .875rem;
		line-height: 1.5;
		color: $color-black;
		margin-top: 5px;
		display: flex;
		align-items: center;
		min-width: 25%;
		.field {
			@include e('link') {
				font-size: .875rem;
			}
		}
	}
	
	@include e('title') {
		font-size: 1.0625rem;
		color: $color-red;
		font-weight: 300;
		margin-bottom: 5px;
	}
	
	@include e('caption') {
		font-weight: 500;
		margin-right: 10px;
		white-space: nowrap;
		&:after,
		&::after {
			content: ':';
		}
	}
	
	@include e('value') {
	}
}