.table {
	$t: &;
	width: 100%;
	
	@include m('sticky') {
		#{$t} {
			@include e('th') {
				position: sticky;
			}
		}
	}
	
	@include m('striped') {
		tbody {
			tr {
				&:nth-child(even) {
					background-color: transparentize($color-black, .94);
				}
			}
		}
	}
	
	@include m('hover') {
		tbody {
			tr {
				&:hover {
					background-color: transparentize($color-black, .9);
				}
			}
		}
	}
	
	
	@include m('bordered') {
		border-collapse: collapse;
		border-radius: 8px;
		
		@include shadow;
		
		thead {
			tr {
				&:first-of-type {
					th {
						&:first-of-type {
							border-top-left-radius: 8px;
							border-bottom-left-radius: 8px;
						}
						&:last-of-type {
							border-top-right-radius: 8px;
							border-bottom-right-radius: 8px;
						}
					}
				}
			}
		}
		tbody {
			tr {
				&:last-of-type {
					th {
						&:first-of-type {
							border-bottom-left-radius: 8px;
						}
						&:last-of-type {
							border-bottom-right-radius: 8px;
						}
					}
				}
			}
		}
		tr {
			th {
				border-bottom: 2px solid transparentize($color-black, .8);
			}
			td, th {
				&:not(:last-of-type) {
					border-right: 1px solid transparentize($color-black, .8);
				}
			}
		}
	}
	
	@include m('filled') {
		background: $color-white;
		thead {
			th {
				background: lighten($color-black, 60%);
			}
		}
	}
	
	@include e('head') {
	
	}
	
	@include e('th') {
		border-bottom-width: 2px !important;
		padding: 10px 20px;
		text-align: left;
		button {
			cursor: pointer;
			span {
				font-weight: 700;
				font-size: 1rem;
				color: lighten($color-black, 10%);
			}
		}
	}
	
	@include e('body') {
	
	}
	
	@include e('record') {
	
	}
	
	@include e('td') {
		padding: 10px 20px;
		font-size: .875rem;
		
		@include m('summary') {
			text-align: center;
			color: lighten($color-black, 30%);
			border-top: 1px solid transparentize($color-black, .95);
		}
	}
}