.widget {
	@include e('title') {
		font-size: 1.125rem;
		line-height: 1.5;
		color: $color-black;
		padding: 20px 20px 10px;
		position: relative;
		&:after,
		&::after {
			content: '';
			position: absolute;
			left: 20px;
			right: 20px;
			bottom: .5px;
			height: 1px;
			background: lighten($color-black, 50%);
		}
	}
	
	@include e('body') {
		padding: 10px 20px 20px;
	}
}