<template>
	<header class="header">
		<div class="header__container">
			<router-link :to="{name: 'index'}" class="header__brand" activeClass="header__brand--active">
				{{ $t('partials.Header.brand') }}
			</router-link>
			<div class="header__navigation">
				<router-link
					class="header__link"
					activeClass="header__link--active"
					v-for="(link, index) in navigation"
					:key="index"
					:to="{name: link.name, params: link.params || {}}"
				>
					<span v-html="link.title || $t('navigation.' + link.name)"></span>
				</router-link>
				<button class="header__link header__link--red" @click.prevent="signOut" v-if="$store.state.user">
					<span v-html="$t('navigation.sign-out') + ' (' + $store.state.user.email + ')'"></span>
				</button>
				<router-link
					class="header__link"
					activeClass="header__link--active"
					:to="{name: 'sign-in'}"
					v-html="$t('navigation.sign-in')"
					v-if="!$store.state.user"
				></router-link>
			</div>
		</div>
	</header>
</template>

<script>
	require.ensure([], () => require('./Header.scss'));
	
	import Ajax from 'classes/Ajax';
	import Checker from 'classes/Checker';
	
	export default {
		methods: {
			signOut: function () {
				new Ajax({
					url: this.$router.resolve({
						name: 'sign-out'
					}).href,
					type: 'post',
					contentType: false,
					dataType: 'json'
				})
					.then(json => {
						if (json.status === 200) {
							this.$emit('updateUser', null);
							this.$router.push({
								name: 'index'
							});
						} else {
							if (json.data.message) {
								this.$emit('exception', json.status || '4**', json.data.message);
							}
						}
					})
					.catch(res => {
					
					})
			}
		},
		watch: {
			'$store.state.user': function () {
				this.navigation = this.$store.getters.navigation.filter((item) => {
					return Checker.byConfig(item.access);
				});
			}
		},
		data() {
			return {
				navigation: []
				
			}
		}
	}
</script>