@import "~styles/utilities/index";

.header {
	padding: 0 $section-padding;
	
	flex-grow: 0;
	flex-shrink: 0;
	height: 74px;
	
	position: relative;
	z-index: 1;
	
	background: $color-white;
	@include shadow;
	
	@include e('container') {
		//max-width: $section-width;
		//margin: 0 auto;
		height: 100%;
		
		display: flex;
		align-items: center;
	}
	
	@include e('brand') {
		font-size: 2rem;
		line-height: 2rem;
		font-weight: 500;
		display: block;
		color: $color-red;
		opacity: .7;
		white-space: nowrap;
		transition: all .25s ease-in-out;
		
		&:hover,
		&:focus {
			opacity: 1;
		}
	}
	
	@include e('navigation') {
		margin-left: auto;
		display: flex;
		justify-content: center;
		height: 100%;
	}
	
	@include e('link') {
		font-size: 1rem;
		line-height: 1rem;
		color: $color-black;
		opacity: .7;
		display: flex;
		align-items: center;
		padding: 5px 10px;
		cursor: pointer;
		height: 100%;
		position: relative;
		transition: all .25s ease-in-out;
		
		&:hover,
		&:focus {
			opacity: 1;
		}
		&:not(:nth-last-child(1)) {
			margin-right: 10px;
		}
		&:before,
		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			height: 2px;
			background-color: $color-red;
			transition: all .25s ease-in-out;
			opacity: 0;
		}
		@include m('active') {
			&:before,
			&::before {
				opacity: 1;
			}
		}
		@include m('red') {
			color: $color-red;
		}
	}
}