<template>
	<div class="field">
		<ul class="field__checkboxList field__checkboxList--6">
			<li class="field__checkbox" v-for="(option, key, index) in options" :key="index">
				<input
					type="checkbox"
					class="form__control"
					ref="field"
					:name="meta.name ? (meta.name + '[' + option.id + ']') : null"
					:true-value="1"
					:false-value="0"
					:id="pId + '_' + key"
					v-model="option.active"
				>
				<label :for="pId + '_' + key" class="form__label form__label--colorize"
				       :class="{'form__label--inactive': !option.active}">
					<i class="fa" :class="option.active ? 'fa-check-circle-o' : 'fa-circle-o'"></i>
					<span v-html="option.title"></span>
				</label>
			</li>
		</ul>
	</div>
</template>

<script>
	require.ensure([], () => require('./CheckboxList.scss'));
	
	
	export default {
		methods: {
			trueVal: function () {
				return this.meta.true ? (this.meta.class + '.' + this.meta.true) : 'true';
			},
			falseVal: function () {
				return this.meta.false ? (this.meta.class + '.' + this.meta.false) : 'false';
			},
			
		},
		mounted() {
			let options = [];
			
			for (let key in this.pMeta.options) {
				if (this.pMeta.options.hasOwnProperty(key)) {
					options.push(Object.assign({}, {
						id: key,
						title: this.pMeta.options[key],
						active: this.pMeta.values.indexOf(parseInt(key)) > -1 ? 1 : 0
					}))
				}
			}
			
			this.options = options;
		},
		destroyed() {
		
		},
		watch: {
			options: {
				deep: true,
				handler: function () {
					let values = [];
					
					for (let i in this.options) {
						if (this.options.hasOwnProperty(i)) {
							if (this.options[i].active) {
								values.push(this.options[i].id);
							}
						}
					}
					this.$emit('change', this.meta.nameClear, values);
				}
			}
		},
		data() {
			return {
				meta: this.pMeta,
				options: {}
			}
		},
		props: [
			'p-meta', 'p-id'
		]
	}
</script>