@import "~styles/utilities/index";

.field {
	@include e('checkboxList') {
		list-style: none;
		padding: 0;
		margin: -10px 0 0;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		@each $i in (2, 3, 4, 6, 12) {
			@include m($i) {
				.field {
					@include e('checkbox') {
						flex-basis: #{$i/12 * 100%};
					}
				}
			}
		}
		.field {
			@include e('checkbox') {
				margin-top: 10px;
			}
		}
	}
}