<template>
	<div class="field">
		<div class="field__checkbox">
			<input
				type="checkbox"
				class="form__control"
				ref="field"
				:name="meta.name || null"
				:true-value="1"
				:false-value="0"
				:id="pId"
				v-model="meta.value"
			>
			<label :for="pId" class="form__label" :class="{'form__label--inactive': !meta.value}">
				<i class="fa" :class="meta.value ? 'fa-check-circle-o' : 'fa-circle-o'"></i>
				<span v-html="!(meta.inline) ? $t('partials.Values.boolean.' + trueVal()) : meta.label"></span>
			</label>
		</div>
	
	</div>
</template>

<script>
	export default {
		methods: {
			trueVal: function () {
				return this.meta.true ? (this.meta.class + '.' + this.meta.true) : 'true';
			},
			falseVal: function () {
				return this.meta.false ? (this.meta.class + '.' + this.meta.false) : 'false';
			}
		},
		mounted() {
		
		},
		destroyed() {
		
		},
		watch: {
			'meta.value': function(val) {
				this.$emit('change', this.meta.nameClear, val);
			}
		},
		data() {
			return {
				meta: this.pMeta
			}
		},
		props: [
			'p-meta', 'p-id'
		]
	}
</script>