<template>
	<div class="field">
		<div class="field__select">
			<select
				:name="meta.name || null"
				:id="pId"
				ref="field"
			>
				<option
					v-for="(value, key, index) in values"
					:key="index"
					:value="key"
					:selected="(key || '').toString() === (meta.value || '').toString()"
					v-html="value"
				></option>
			</select>
		</div>
	
	</div>
</template>

<script>
	export default {
		computed: {
			values: function () {
				console.log(this.meta.values, this.meta.value);
				
				return Object.assign({'': null}, this.meta.values);
			}
		},
		mounted() {
			let options = {
				minimumResultsForSearch: 9,
				dropdownParent: $(this.$refs.field).closest('.app'),
				searchInputPlaceholder: this.$t('partials.Fields.Select.searchInputPlaceholder')
			};
			
			if (this.meta.allowClear) {
				options.allowClear = true;
			}
			
			
			if (this.meta.placeholder) {
				options.placeholder = this.meta.placeholder;
			}
			
			$(this.$refs.field)
				.select2(options)
			;
			
			$(this.$refs.field)
				.on('select2:select', (e) => {
					let data = e.params.data;
					
					this.$emit('change', this.meta.nameClear, data.id);
				});
		},
		destroyed() {
			$(this.$refs.field).select2('destroy');
		},
		data() {
			return {
				meta: this.pMeta
			}
		},
		props: [
			'p-meta', 'p-id'
		]
	}
</script>