<template>
	<div class="field">
		<div class="field__text">
			<input
				class="form__control"
				:type="meta.type || 'text'"
				:name="meta.name || null"
				:id="pId"
				ref="field"
				:placeholder="meta.placeholder"
				@keydown="submit"
				v-model="meta.value"
			/>
		</div>
	
	</div>
</template>

<script>
	export default {
		mounted() {
		
		},
		methods: {
			submit: function(e) {
				if(e.keyCode === 13) {
					e.preventDefault();
					e.stopPropagation();
					
					this.$emit('submitAction');
				}
			}
		},
		destroyed() {
		
		},
		data() {
			return {
				meta: this.pMeta
			}
		},
		watch: {
			'meta.value': function(val) {
				this.$emit('change', this.meta.nameClear, val);
			}
		},
		props: [
			'p-meta', 'p-id'
		]
	}
</script>