@import "~styles/utilities/index";

.sign-in {
	@include e('form') {
		border-radius: 8px;
		background: #fff;
		padding: 20px;
		max-width: 450px;
		margin: 0 auto;
		@include shadow;
	}
	.form {
		@include e('button') {
			margin: 30px auto 0;
			display: block;
		}
	}
}