<template>
	<div class="sign-in">
		<form :action="$router.resolve({name: 'sign-in'}).href" class="sign-in__form form" method="POST"
		      @submit.prevent="submit">
			<div class="form__group">
				<label for="login-field" class="form__label form__label"
				       v-html="$t('page.signIn.form.login')"></label>
				<div class="form__input">
					<input type="text" class="form__control" v-model="model.login" id="login-field">
				</div>
				<div class="form__hints">
					<div class="form__hint" v-for="(error, index) in validation.errors.login || []" :key="index"
					     v-html="error"></div>
				</div>
			</div>
			<div class="form__group">
				<label for="password-field" class="form__label form__label"
				       v-html="$t('page.signIn.form.password')"></label>
				<div class="form__input">
					<input type="password" class="form__control" v-model="model.password" id="password-field">
				</div>
				<div class="form__hints">
					<div class="form__hint" v-for="(error, index) in validation.errors.password || []" :key="index"
					     v-html="error"></div>
				</div>
			</div>
			<div class="form__group">
				<input type="checkbox" class="form__control" :true-value="1" :false-value="0"
				       v-model="model.remember" id="remember-field">
				<label for="remember-field" class="form__label" :class="{'form__label--inactive': !model.remember}"
				       v-html="$t('page.signIn.form.remember')"></label>
				<div class="form__hints">
					<div class="form__hint" v-for="(error, index) in validation.errors.remember || []" :key="index"
					     v-html="error"></div>
				</div>
			</div>
			<div class="form__group">
				<button @click.prevent="submit" :disabled="validation.processing"
				        :class="{'button--active': validation.processing}"
				        class="form__button button button--primary" v-html="$t('page.signIn.form.submit')"
				        type="submit"></button>
			</div>
		</form>
	</div>
</template>

<script>
	require.ensure([], () => require('./SignIn.scss'));
	
	import Ajax from 'classes/Ajax';
	
	export default {
		mounted() {
			this.$emit('changeTitle', this.$t('page.sign-in.pageTitle'));
			
			if(this.$store.state.user) {
				this.$emit('exception', 403, this.$t('page.sign-in.error.alreadyAuthorized'));
			}
		},
		watch: {
			'$store.state.user': function(user) {
				if(user) {
					this.$emit('exception', 403, this.$t('page.sign-in.error.alreadyAuthorized'));
				}
			}
		},
		methods: {
			submit: function () {
				if (this.validation.processing) {
					return;
				}
				this.validation.done = false;
				this.validation.processing = true;
				this.validation.errors = {};
				
				new Ajax({
					url: this.$router.resolve({
						name: 'sign-in'
					}).href,
					type: 'POST',
					dataType: 'json',
					contentType: false,
					data: {
						'SignInForm': this.model
					}
				})
					.then(json => {
						this.validation.done = true;
						this.validation.processing = false;
						if (json.status === 200) {
							this.$router.push({
								name: 'index'
							})
						} else {
							if (json.data.errors) {
								this.validation.errors = json.data.errors;
							}
							// if (json.data.message) {
							// 	alert(json.data.message);
							// }
						}
					})
					.catch(res => {
						this.validation.done = true;
						this.validation.processing = false;
					})
			}
		},
		data() {
			return {
				model: {
					login: null,
					password: null,
					remember: 0
				},
				validation: {
					processing: false,
					done: false,
					errors: {}
				}
			}
		}
	}
</script>