<template>
	<div :class="pClass">
		<div class="doc__pane">
			Documentation for client
		</div>
		<h2 class="doc__title">
			Some title
		</h2>
		<div class="doc__pane">
			Some description under title<br>
			Some description under title<br>
			Some description under title<br>
			Some description under title<br>
			Some description under title<br>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
			
			}
		},
		props: [
			'p-class'
		]
	}
</script>