<template>
	<div :class="pClass">
		<div class="doc__pane">
			Documentation for developer
		</div>
		<h2 class="doc__title">
			Max pidor
		</h2>
		<div class="doc__pane">
			Some description under title<br>
			Some other description under title with <b>bold</b> text<br>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
			
			}
		},
		props: [
			'p-class'
		]
	}
</script>