<template>
	<div class="doc">
		<div class="doc__header" v-if="Object.keys(tabs).length > 1">
			<button
				class="doc__anchor"
				v-for="(item, key, index) in tabs"
				:key="index"
				:class="{'doc__anchor--active': key === activeTab}"
				:disabled="key === activeTab"
				@click.prevent="activeTab = key"
			>
				<span v-html="$t('page.doc.title.' + key )"></span>
			</button>
		</div>
		<component v-if="activeTab" p-class="doc__content" :is="'for-' + activeTab"></component>
	</div>
</template>

<script>
	require.ensure([], () => require('./Documentation.scss'));
	
	import Client from './Client.vue';
	import Developer from './Developer.vue';
	import Checker from 'classes/Checker';
	import pickBy from 'lodash/pickBy';
	
	export default {
		mounted() {
			this.$emit('changeTitle', this.$t('page.doc.pageTitle'));
			
			if(!Checker.byConfig([
					{roles: ['admin', 'client']},
					{permissions: ['documentation']}
				])) {
				this.$emit('exception', 403, this.$t('page.doc.noPermission'));
			}
		},
		components: {
			'for-client': Client,
			'for-developer': Developer
		},
		watch: {
			'$store.state.user': function (user) {
				if (user) {
					this.tabs = pickBy({
						client: Checker.byConfig([
							{'roles': ['admin', 'client']},
							{'roles': ['manager'], 'permissions': ['documentation']}
						]),
						developer: Checker.byConfig([
							{'roles': ['admin', 'client']},
							{'roles': ['developer'], 'permissions': ['documentation']}
						]),
					}, (value) => {
						return value;
					});
					
					if (this.activeTab === null) {
						this.activeTab = Object.keys(this.tabs)[0];
					}
				} else {
					this.tabs = {};
					this.activeTab = null;
				}
			}
		},
		data() {
			return {
				activeTab: null,
				tabs: {}
			}
		}
	}
</script>