@import "~styles/utilities/index";

.doc {
	@include e('header') {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}
	
	@include e('anchor') {
		padding: 5px 10px;
		cursor: pointer;
		border-radius: 5px;
		font-size: 1rem;
		color: $color-black;
		transition: all .25s ease-in-out;
		&:not(:first-of-type) {
			margin-left: 10px;
		}
		span {
			transition: all .25s ease-in-out;
		}
		@include m('active') {
			background: $color-red;
			color: $color-white;
			cursor: default;
		}
	}
	
	@include e('content') {
	}
	
	@include e('title') {
		margin: 20px 0 5px;
		color: $color-black;
		font-size: 1.5rem;
		text-transform: uppercase;
	}
	
	@include e('pane') {
		padding: 20px;
		background: $color-white;
		@include shadow;
		border-radius: 8px;
		line-height: 1.5;
	}
}