<template>
	<div class="table-filters" :class="pClass">
		<div class="table-filters__container">
			Here's gonna be filters soon
		</div>
	</div>
</template>

<script>
	require.ensure([], () => require('./TableFilters.scss'));
	export default {
		data() {
			return {
				table: this.pData
			}
		},
		watch: {
			pData: function(val) {
				this.pData = val;
			}
		},
		props: [
			'p-class',
			'p-data'
		]
	}
</script>