<template>
	<div class="table-controls" :class="pClass">
		<div class="table-controls__container">
			<div class="table-controls__grid">
				<div class="table-controls__col table-controls__col--limit" ref="limitContainer">
					<label class="table-controls__label" for="table-limit">
						{{$t('partials.Bar.partials.TableControls.limit')}}
					</label>
					<select class="table-controls__limit" name="table-limit" id="table-limit" ref="limit"></select>
				</div>
				<div class="table-controls__col table-controls__col--visibility">
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	require.ensure([], () => require('./TableControls.scss'));
	
	import extend from 'lodash/extend';
	
	export default {
		data() {
			return {
				data: this.pData
			}
		},
		methods: {
			drawLimits: function (meta) {
				this.$refs.limit.innerHTML = '';
				meta.limits.map((limit) => {
					let option = new Option(limit, limit);
					this.$refs.limit.appendChild(option);
				});
				$(this.$refs.limit).val(meta.limit);
			}
		},
		computed: {
			limit: function() {
				return this.$store.state.table ? this.$store.state.table.meta.limit : 10;
				
			},
			limits: function() {
				return this.$store.state.table ? this.$store.state.table.meta.limits : [];
			}
		},
		mounted() {
			$(this.$refs.limit)
				.select2({
					dropdownParent: $(this.$refs.limitContainer),
					minimumResultsForSearch: -1
				})
				.on('select2:select', (e) => {
					this.$store.state.table.model.limit = e.params.data.id;
					this.$store.state.table.fetchData();
				});
		},
		destroyed() {
			$(this.$refs.limit)
				.select2('destroy');
		},
		watch: {
			pData: function (val) {
				this.data = val;
			},
			limits: function(val) {
				if(val) {
					this.drawLimits({
						limits: val,
						limit: this.limit
					});
				}
			}
		},
		props: [
			'p-class',
			'p-data'
		]
	}
</script>