@import "~styles/utilities/index";

.table-controls {
	@include e('grid') {
		display: grid;
	}
	@include e('col') {
		@include m('limit') {
			grid-column: 1;
		}
	}
	@include e('label') {
		font-size: 1.125rem;
		font-weight: 500;
		color: $color-black;
		display: block;
		margin-bottom: 10px;
		white-space: nowrap;
	}
	
	@include e('limit') {
	
	}
}