@import "~styles/utilities/index";

* {
	padding: 0;
	margin: 0;
	background: none;
	appearance: none;
	outline: none;
	border: none;
	border-radius: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

.app {
	font: 400 16px 'Roboto', sans-serif;
	
	display: flex;
	flex-direction: column;
	
	height: 100vh;
	
	background: lighten($color-black, 55%);
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.main {
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
	
	display: flex;
	flex-direction: column;
	> .baron {
		flex-grow: 1;
	}
	@include loadingFull();
}

.page {
	margin: ceil($section-padding * 1.33) 0;
	padding: 0 $section-padding;
	@include e('container') {
		//max-width: $section-width;
		//margin: 0 auto;
		display: flex;
		align-items: flex-start;
		position: relative;
	}
	@include e('sidebar') {
		flex-basis: 250px;
		flex-shrink: 0;
		flex-grow: 0;
		margin-right: ceil($section-padding * 1.33);
	}
	@include e('content') {
		flex-grow: 1;
	}
}

::-webkit-scrollbar { /* for Mac OS X support */
	width: 0;
	height: 0;
}