<template>
	<div id="app" class="app">
		<c-header @updateUser="updateUser"></c-header>
		<c-bar></c-bar>
		<main class="main app__scroller baron baron__root baron__clipper _macosx" ref="clipper"
		      :class="{'main--loading': loading}">
			<div class="baron__scroller" ref="scroller">
				<div class="page" :class="'page--' + $route.name">
					<div class="page__container">
						<sidebar p-class="page__sidebar"></sidebar>
						<div class="page__content">
							<router-view v-if="!exception" @loading="setLoading" @exception="showException"
							             @changeTitle="changeTitle"></router-view>
							<c-exception v-if="exception" :p-code="exception.code"
							             :p-message="exception.message"></c-exception>
						</div>
					</div>
				</div>
			</div>
			<div class="baron__track">
				<div class="baron__control baron__up">
					<i class="fa fa-angle-up"></i>
				</div>
				<div class="baron__free">
					<div class="baron__bar"></div>
				</div>
				<div class="baron__control baron__down">
					<i class="fa fa-angle-down"></i>
				</div>
			</div>
		</main>
		<c-footer></c-footer>
	</div>

</template>

<script>
	require.ensure([], () => require('./App.scss'));
	import 'styles/index';
	
	import Vue from 'vue';
	import Exception from './partials/Exception/Exception.vue';
	
	import Header from './partials/Header/Header.vue';
	import Footer from './partials/Footer/Footer.vue';
	import Bar from './partials/Bar/Bar.vue';
	import Ajax from 'classes/Ajax';
	
	
	import Sidebar from './partials/Sidebar/Sidebar.vue';
	import Empty from './partials/Values/Empty.vue';
	import Date from './partials/Values/Date.vue';
	import Relation from './partials/Values/Relation.vue';
	import Boolean from './partials/Values/Boolean.vue'
	import Link from './partials/Values/Link.vue'
	import Widget from './partials/Widget/Widget.vue';
	import Modal from './partials/Modal/Modal.vue';
	import baron from 'baron';
	
	Vue.component('sidebar', Sidebar);
	
	Vue.component('value-empty', Empty);
	Vue.component('value-date', Date);
	Vue.component('value-relation', Relation);
	Vue.component('value-boolean', Boolean);
	Vue.component('value-link', Link);
	Vue.component('widget', Widget);
	Vue.component('modal', Modal);
	
	Vue.component('svg-arrow', require('images/svg/arrow.svg'));
	
	Vue.component('field-select', require('./partials/Fields/Select.vue').default);
	Vue.component('field-text', require('./partials/Fields/Text.vue').default);
	Vue.component('field-checkbox', require('./partials/Fields/Checkbox.vue').default);
	Vue.component('field-checkboxList', require('./partials/Fields/CheckboxList.vue').default);
	
	
	Vue.mixin({
		methods: {
			executeCommands: function (commands) {
				if (typeof commands === 'string') {
					commands = [commands];
				}
				
				commands.reduce((cur, next) => {
					return cur.then(() => {
						if(next === 'messages') {
							return new Promise(
								(resolve, reject) => {
									// @todo implement message updating
									resolve();
								}
							)
						}
						if (next === 'refresh') {
							return new Promise(
								(resolve, reject) => {
									this.$router.push({
										query: Object.assign({}, this.$route.query, {u: Math.random()})
									}, resolve, reject);
								}
							);
							
						}
						if (typeof next === 'object') {
							if (next.type === 'record') {
								return new Promise((resolve, reject) => {
									this.$router.push({
										name: next.meta.model,
										params: {
											
											id: next.meta.id
										},
										query: this.$route.name === next.meta.model ? Object.assign({}, this.$route.query, {u: Math.random()}) : {}
									}, resolve, reject);
								});
							}
							if (next.type === 'list') {
								return new Promise((resolve, reject) => {
									this.$router.push({
										name: 'table',
										params: {
											key: next.meta.model
										},
										query: this.$route.name === 'table' ? Object.assign({}, this.$route.query, {u: Math.random()}) : {}
									}, resolve, reject);
								});
							}
							if (next.type === 'action') {
								return new Promise((resolve, reject) => {
									setTimeout(() => {
										this.$store.state.bar.items.map((item) => {
											if (item.action === next.meta.name) {
												if (next.meta.fields) {
													item.fields.map((field) => {
														if (next.meta.fields.hasOwnProperty(field.meta.nameClear)) {
															field.meta.value = next.meta.fields[field.meta.nameClear];
														}
														return field;
													})
												}
												this.$store.state.bar.action = item;
											}
										});
									}, 250);
									resolve();
								});
							}
							if (next.type === 'alert') {
								return new Promise((resolve, reject) => {
									alert(next.meta.message);
									resolve();
								});
							}
						}
					});
					
				}, Promise.resolve()).then(() => {
				
				}).catch((e) => {
					console.log(e);
				})
			}
		}
	});
	
	export default {
		data() {
			return {
				mounted: false,
				loading: false,
				exception: false
			}
		},
		mounted() {
			this.updateUser();
			baron({
				root: '.baron.app__scroller',
				scroller: '.baron__scroller',
				bar: '.baron__bar',
				scrollingCls: '_scrolling',
				draggingCls: '_dragging'
			}).controls({
				track: '.baron__track',
				forward: '.baron__down',
				backward: '.baron__up'
			});
			
		},
		watch: {
			'$route': function () {
				if (this.mounted) {
					this.updateUser();
				}
				this.exception = null;
			}
		},
		methods: {
			showException: function (code, message) {
				this.exception = {
					code: code,
					message: message
				}
			},
			setLoading: function (value) {
				this.loading = !!value;
			},
			changeTitle: function (value) {
				document.title = value;
			},
			updateUser: function () {
				new Ajax({
					url: this.$router.resolve({
						name: 'get-user'
					}).href,
					dataType: 'json'
				})
					.then((json) => {
						this.mounted = true;
						if (json.status === 200) {
							this.$store.commit('setUser', json.data.user);
						} else {
							this.$store.commit('setUser', null);
						}
					})
					.catch((res) => {
						this.mounted = true;
						this.$store.commit('setUser', null);
					})
			}
		},
		components: {
			'c-header': Header,
			'c-footer': Footer,
			'c-bar': Bar,
			'c-exception': Exception
		}
	}
</script>