{#
    @var $this \common\components\View
    @var $exception \yii\web\HttpException
    @var $content string
#}
{{ register_asset_bundle('/frontend/assets/FrontendAsset') }}
<!doctype html>
<html lang="{{ app.language }}" data-language="{{ app.language }}" data-lang="{{ app.language | split('-') | first }}">
{{ void(this.beginPage()) }}
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    {{ html.csrfMetaTags() | raw }}
    {{ void(this.head()) }}
</head>
<body>
{{ void(this.beginBody()) }}
<div id="app"></div>
{{ void(this.endBody()) }}
</body>
{{ void(this.endPage()) }}
</html>
