<template>
	<div class="widget" :class="pWidgetClass">
		<div class="widget__content">
			<div class="widget__header" v-html="pTitle"></div>
			<div class="widget__body">
				<slot></slot>
			</div>
		</div>
	</div>
</template>

<script>
	require.ensure([], () => require('./Widget.scss'));
	
	export default {
		props: [
			'p-widget-class',
			'p-title'
		]
	}
</script>