@import "~styles/utilities/index";

.widget {
	@include e('content') {
		background: #fff;
		@include shadow;
		border-radius: 8px;
	}
	@include e('header') {
		font-size: 1.125rem;
		color: $color-black;
		line-height: 1.5;
		padding: 15px 20px 10px;
		position: relative;
		font-weight: 700;
		text-transform: uppercase;
		&:before,
		&::before {
			content: '';
			position: absolute;
			left: 20px;
			bottom: .5px;
			right: 20px;
			height: 1px;
			background: lighten($color-black, 50%);
		}
	}
	@include e('body') {
		padding: 15px 20px 20px;
	}
}