<template>
	<div class="value">
		<div class="value__boolean" :class="{'value__boolean--true': value, 'value__boolean--false': !value}">
			{{ $t('partials.Values.boolean.' + (value ? trueVal : falseVal)) }}
		</div>
	</div>
</template>

<script>
	require.ensure([], () => require('./Boolean.scss'));
	
	export default {
		computed: {
			value: function () {
				return !!this.pValue;
			},
			trueVal: function() {
				return this.pParams.true ? (this.pRecord.class + '.' + this.pParams.true) : 'true';
			},
			falseVal: function() {
				return this.pParams.false ? (this.pRecord.class + '.' + this.pParams.false) : 'false';
			}
		},
		props: [
			'p-value', 'p-params', 'p-record', 'p-key'
		]
	}
</script>