<template>
	<div class="value">
		<div class="value__date" :class="{'value__date--hoverable': hoverable}" ref="date">
			<value-empty :p-value="text"></value-empty>
		</div>
	</div>
</template>

<script>
	require.ensure([], () => require('./Date.scss'));
	
	import Moment from 'moment';
	import Tooltip from 'tooltip.js';
	import isNull from 'lodash/isNull';
	
	export default {
		data() {
			return {
				hoverable: false,
				tooltip: null
			}
		},
		mounted() {
			if(this.text) {
				this.tooltip = new Tooltip(this.$refs.date, {
					placement: 'top',
					title: Moment.unix(this.pValue).fromNow(false),
					container: '.app',
					popperOptions: {
						removeOnDestroy: true
					}
				});
			}
		},
		watch: {
			tooltip: function() {
				this.hoverable = true;
			}
		},
		computed: {
			text: function() {
				if(isNull(this.pValue)) {
					return null;
				}
				try {
					return Moment.unix(this.pValue).format('LLL')
				}   catch(e) {
				}
				
				return null;
			}
		},
		props: [
			'p-value', 'p-params', 'p-record', 'p-key'
		]
	}
</script>