@import "~styles/utilities/index";

.value {
	@include e('date') {
		display: inline-block;
		@include m('hoverable') {
			cursor: pointer;
			span {
				border-bottom: 1px dotted transparentize($color-black, .5);
			}
		}
	}
}