<template>
	<div class="value">
		<span class="value__empty" :class="{'value__empty--active': isEmpty}" v-html="text"></span>
	</div>
</template>

<script>
	require.ensure([], () => require('./Empty.scss'));
	
	import isNull from 'lodash/isNull';
	import isUndefined from 'lodash/isUndefined';
	
	export default {
		methods: {
			trimmed: function (value) {
				
				let
					length = value.toString().length,
					min = this.pParams ? this.pParams.min || 0 : 0,
					max = this.pParams ? this.pParams.max || length : length,
					suffix = max < length ? '...' : '';
				
				return value.toString().substring(min, max) + suffix;
				
			},
		},
		computed: {
			text: function () {
				return this.isEmpty ? this.$t('partials.Values.empty') : this.trimmed(this.pValue);
			},
			isEmpty: function () {
				return isNull(this.pValue) || isUndefined(this.pValue) || this.pValue.length === 0;
			}
		},
		props: [
			'p-value', 'p-params', 'p-record', 'p-key'
		]
	}
</script>