<template>
	<div class="value">
		<router-link :target="pParams.blank ? '_blank' : ''" v-if="can" :to="{name: pParams.route, params: params}"
		             class="value__link">
			<span>{{ text }}</span>
		</router-link>
		<value-empty v-if="!can" :p-value="pText || text"></value-empty>
	</div>
</template>

<script>
	require.ensure([], () => require('./Link.scss'));
	
	import map from 'lodash/map';
	import filter from 'lodash/filter';
	import Checker from 'classes/Checker';
	import extend from 'lodash/extend';
	
	export default {
		computed: {
			record: function () {
				let record = this.pRecord;
				
				return record;
			},
			params: function () {
				return extend(this.pParams.params || {}, {
					id: this.id
				});
			},
			id: function () {
				return this.pRecord.attributes[this.pParams.key]
			},
			can: function () {
				return Checker.byConfig(this.pParams.access);
			},
			text: function () {
				let attributes = Object.assign({}, this.record.attributes);
				
				return this.pText || filter(
						map(
							attributes, (value, key) =>
								this.pParams.value.indexOf(key) > -1 ? value : false
						),
						o => !!o
					).join(' ').trim();
			}
			
		},
		props: [
			'p-value', 'p-params', 'p-record', 'p-text', 'p-key', 'p-sub-attribute'
		]
	}
</script>