@import "~styles/utilities/index";

.value {
	@include e('link') {
		color: $color-blue;
		opacity: .9;
		display: flex;
		align-items: center;
		line-height: 100%;
		font-size: 1rem;
		&:hover,
		&:focus {
			opacity: 1;
		}
		/*
		&[target="_blank"] {
			&:after,
			&::after {
				content: '\f08e';
				font-family: 'FontAwesome', sans-serif;
				font-size: .6em;
				line-height: 100%;
				align-self: flex-start;
				position: relative;
				top: -2px;
				left: 2px;
			}
		}
		*/
	}
}