<template>
	<div class="value">
		<div class="value__relation">
			<value-link v-if="pParams.route" :p-value="pValue" :p-params="params" :p-record="pRecord" :p-text="text"></value-link>
			<value-empty v-if="!pParams.route" :p-value="text"></value-empty>
		</div>
		
	</div>
</template>

<script>
	require.ensure([], () => require('./Relation.scss'));
	
	import map from 'lodash/map';
	import filter from 'lodash/filter';
	import isEmpty from 'lodash/isEmpty';
	
	export default {
		computed: {
			params: function() {
				let params = this.pParams;
				params['key'] = this.pKey || this.pParams.key;
				
				return params;
			},
			text: function () {
				return filter(
					map(
						this.pRecord.attributes[this.pParams.relation], (value, key) =>
							this.pParams.value.indexOf(key) > -1 ? value : false
					),
					o => !isEmpty(o)
				).join(' ').trim();
			}
		},
		props: [
			'p-value', 'p-params', 'p-record', 'p-key'
		]
	}
</script>