<template>
	<div class="language-view">
		<div class="language-view__content" v-if="language">
			<c-profile :p-language="language"></c-profile>
		</div>
	</div>
</template>

<script>
	import Profile from './partials/Profile.vue'
	import Ajax from 'classes/Ajax';
	
	require.ensure([], () => require('./Language.scss'));
	
	
	export default {
		components: {
			'c-profile': Profile
		},
		watch: {
			'$route': function(to, from) {
				this.fetchData();
			},
			'loading': function (val) {
				this.$emit('loading', val);
			},
		},
		mounted() {
			this.fetchData();
		},
		methods: {
			fetchData: function () {
				this.loading = true;
				new Ajax({
					url: this.$router.resolve({
						name: 'language',
						params: {
							id: this.$route.params.id
						}
					}).href,
					dataType: 'json',
				})
					.then(json => {
						this.loading = false;
						if (json.status === 200) {
							this.language = json.data.record;
							this.meta = json.data.meta;
							this.$emit('changeTitle', this.$t('page.Language.title', {
								id: this.$route.params.id
							}));
						} else {
							this.$emit('exception', json.status || '4**', json.data.message || this.$t('page.Language.error.fetchData'));
						}
					})
					.catch(res => {
						this.loading = false;
					})
			}
		},
		data() {
			return {
				language: null,
				meta: null,
				loading: false
			}
		}
	}
</script>